.LetterButton {
  button {
    color: white;
    font-size: 5vh;
    outline: none;
    border: none;
    background-color: transparent;
    &.lockable {
      cursor: pointer;
    }
  }
  div {
    color: white;
    font-size: 5vh;
    &.unlocked {
      visibility: hidden;
    }
  }
}
